#main {
    margin: auto;
}
#header {
    color: rgb(55, 146, 115);
}

.ar {
    font-size: 30px;
    width: 100px;
}
.xp {
    font-size: 30px;
    width: 120px;
}
span {
    font-size: 34px;
}
#from {
    font-size: 25px;
    width: 180px;
}
#daily {
    font-size: 30px;
    width: 200px;
    margin-right: 20px;
}

#group{
    padding-top: 6px;
}

#check{
    background-color: cornflowerblue;
    font-size: 30px;
    border-radius: 8px;
    margin-top: 20px;
}

#result {
    font-size: 20px;
}
