#main {
    margin: auto;
}
#header {
    color: rgb(55, 146, 115);
}

#date {
    font-size: 30px;
}
#from {
    font-size: 25px;
    width: 180px;
}
#num1 {
    font-size: 25px;
    width: 60px;
}
#toText{
    display: block;
    font-size: 30px;
    margin-top: 10px;
    padding-bottom: 10px;
}
#to {
    font-size: 25px;
    width: 180px;
}
#plus{
    font-size:20px;
}
#num2 {
    font-size: 25px;
    width: 60px;
}
#group{
    padding-top: 6px;
}

#check{
    background-color: cornflowerblue;
    font-size: 30px;
    border-radius: 8px;
    margin-top: 20px;
}

#result {
    font-size: 20px;
}
